<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Futiba Club - Fullstack Academy - DevPleno</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/futiba-interno.css" rel="stylesheet">
</head>

<body>
  <header>
    <% include ../elements/navbar %>
  </header>

  <section class="content">
    <div class="container">
      <div class="row">
        <h2 class="subtitle">Gerenciamento de Jogos</h2>
      </div>
      <form class="row" method="post">
        <div class="col-md-6">
          <div class="md-form">
            <i class="fa fa-users prefix grey-text"></i>
            <input type="text" class="form-control" name="team_a">
            <label for="orangeForm-email">Time A</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form">
            <i class="fa fa-users prefix grey-text"></i>
            <input type="text" class="form-control" name="team_b">
            <label for="orangeForm-email">Time B</label>
          </div>
        </div>
        <div class="cold-md-12 text-center">
          <button class="btn btn-danger">
            Criar jogo<i class="fa fa-plus ml-1" aria-hidden="true"></i>
          </button>
        </div>
      </form>
      <br>
      <form method="post" action="/admin/games/results">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Jogos</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% games.forEach(game => { %>
              <tr class="guessings">
                <th scope="row">
                  <%= game.id %>
                </th>
                <td>
                  <input type="number" class="form-control" min="0" max="25" name="team_<%= game.id %>[a]">
                  <span class="teams-label">
                    <%= game.team_a %> vs <%= game.team_b %>
                  </span>
                  <input type="number" class="form-control" min="0" max="25" name="team_<%= game.id %>[b]">
                </td>
                <td>
                  <a href="/admin/games/delete/<%= game.id %>">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Excluir
                  </a>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <button class="btn btn-danger waves-effect waves-light" type="submit">
          Informar resultados<i class="fa fa-paper-plane-o ml-1" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </section>

  <% include ../elements/footer %>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
</body>

</html>